.richtext {
  background: #fff;
  border: 1px solid #ddd;
  font-family: 'Georgia', serif;
  font-size: 14px;
  padding: 0;
}

.richtext .editor {
  cursor: text;
  font-size: 14px;
  padding: 8px 5px 5px 5px;
}

.richtext .public-DraftEditorPlaceholder-root {
  position: relative;
}

.richtext .public-DraftEditorPlaceholder-root
  .public-DraftEditorPlaceholder-inner {
  position: absolute;
}


.richtext .public-DraftEditor-content {
  min-height: 100px;
  max-height: 200px;
  overflow-y: auto;
}

.richtext .hide-placeholder .public-DraftEditorPlaceholder-root {
  display: none;
}

.richtext .blockquote {
  border-left: 5px solid #eee;
  color: #666;
  font-family: 'Hoefler Text', 'Georgia', serif;
  font-style: italic;
  margin: 16px 0;
  padding: 10px 20px;
}

.richtext .public-DraftStyleDefault-pre {
  background-color: rgba(0, 0, 0, 0.05);
  font-family: 'Inconsolata', 'Menlo', 'Consolas', monospace;
  font-size: 16px;
  padding: 20px;
}

.richtext .controls {
  font-family: 'Helvetica', sans-serif;
  font-size: 14px;
  margin-bottom: 5px;
  user-select: none;
}

.richtext .style-button {
  color: #999;
  cursor: pointer;
  margin-right: 16px;
  padding: 2px 0;
  display: inline-block;
}
.richtext .controls {
  background-color: whitesmoke;
  padding: 4px;
  margin: 0;
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: #ddd;
  border-radius: 8px 8px 0 0;
}
.richtext .active-button {
  color: #5890ff;
}
.richtext .controls .button-group {
  display: inline-block;
}
